<!-- app/views/pages/thanks.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Thank You</title>
</head>
<body>
<main class="thanks-section">
  <h1>Thank You!</h1>
  <p>Thank you for submitting your information. We will get back to you soon.</p>
</main>
</body>
</html>
