body.blogs-index, body.blogs-new, body.blogs-edit {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to right, #e3eefe, #efddfb);
  margin: 0;
  padding-bottom: 60px;
}

body.blogs-show {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Container for the blog posts */
.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

/* Each blog post occupies 1/3rd of the row */
.blog-post {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 40px); /* Each post takes 1/3rd of the container */
  margin-bottom: 20px;
}

/* Ensures that every third post does not have a right margin */
.blog-post:nth-child(3n) {
  margin-right: 0;
}

/* Fixed size for blog images */
.blog-post img {
  width: 100%;
  height: 200px; /* Fixed height */
  object-fit: cover; /* Ensures the image scales nicely without distortion */
  border-radius: 8px 8px 0 0;
  margin-bottom: 15px;
}

/* Styles for the pagination links */
.pagination {
  justify-content: center;
  padding: 20px;
}

.pagination a,
.pagination span {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #9378ef;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin: 0 5px;
}

.pagination a:hover,
.pagination span.current {
  background-color: #b1a4da;
  color: white;
}

.blog-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.blog-author {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.blog-content {
  font-size: 16px;
  color: black;
  text-align: left;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.btn-primary {
  background-color: #9378ef;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

.create-blog-button {
  position: fixed;
  bottom: 65px;
  right: 30px;
  z-index: 1200;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #9378ef;
  color: white;
  text-decoration: none;
}

.create-blog-button:hover {
  background-color: #b1a4da;
}

.pagination {
  justify-content: left;
  padding: 5px;
}

.pagination a,
.pagination span {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #9378ef;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.pagination a:hover,
.pagination span.current {
  background-color: #b1a4da;
  color: white;
}

.user-blogs {
  display: flex;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  height: 200%;
  justify-content: center;
}
